*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-image: url("img000.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: bisque; */
    /* opacity: 0.5; */
}

#ff{
    color: black;
}
.top-heading{
    font-size: larger;
    color: black;
    font-weight: 700;
}
.navlist{
    padding-left: 350px;
}
.navitems{
    padding-left: 30px;
}
.navitems{
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.navitems:hover{
    color: rgb(47, 14, 236);
}
#h1{
    color: black;

}
#text{
    color: black;
}
#first{
    padding-top: 50px;
    font-weight: 700;
    /* background-color: rgb(119, 218, 95); */
}
#services{
    margin-top: -100px;
    /* background-color: rgb(119, 218, 95); */

}
#sign{
    padding-right: 5px;
}
.second{
    padding: 20px;
}
.button1{
    /* padding-top: 100px; */
    margin-top: -35px;
}
.classic{
    margin-top: -60px;
}
.team{
    margin-top: -75px;
}
#our-team{
    color: rgb(3, 2, 2);
    font-weight: bolder;
}
#team-heading{
    color: rgb(13, 64, 68);
    font-size: 18px;
    font-weight: 700;
}
/* .text-gray-600{
    margin-top: -40px;
} */