*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-image: url("img000.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}
/* .container{
    text-align: left;
    margin-top: 70px;
    margin-left: 40px;
} */
/* h1{
    font-size: 5em;
} */
/* p{
    text-align: left;
    font-size: 3em;
    color: rgb(202, 42, 24);
} */

/* .excel{
    float: centre;
}
.first{
    display: block;
    text-align: center;
    
    
  }
 
.exit{
    display: block;
    text-align: center;
  
    
  } */


.top-heading{
    font-size: larger;
    color: brown;
    font-weight: 700;
}
.navlist{
    padding-left: 350px;
}
.navitems{
    padding-left: 30px;
}
.navitems{
    font-size: 18px;
    font-weight: 700;
}
.navitems:hover{
    color: rgb(20, 76, 231);
}
#h1{
    color: rgb(20, 76, 231);

}
#first{
    padding-top: 50px;
    font-weight: 700;

}
#sign{
    padding-right: 5px;
}
.second{
    padding: 20px;
}
.button1{
    /* padding-top: 100px; */
    margin-top: -35px;
}
.classic{
    margin-top: -60px;
}
.team{
    margin-top: -75px;
}